<div class="container">
    <div class="contact-us-container">
      <h1>Contact Us</h1>
      <p>Poltekkes Medan Repository administrators may be contacted at:</p>
      <div class="contact-details">
        <table>
            <tr>
                <td style="padding-bottom: 20px;"><strong>Online Form</strong></td>
                <td style="padding-bottom: 20px;">:<span style="margin-left: 10px;"><a href="/info/feedback">Feedback</a></span></td>
            </tr>
            <tr>
                <td><strong>Email</strong></td>
                <td>:<span style="margin-left: 10px;"><a href="mailto:repository.app@poltekkes.ac.id">repository.app&#64;poltekkes.ac.id</a></span></td>
            </tr>
        </table>
      </div>
    </div>
</div>