// Add any global css for the theme here

// imports the base global style
@import '../../../styles/_global-styles.scss';

.facet-filter, .setting-option, .advanced-search {
  background-color: var(--bs-light);
  border-radius: var(--bs-border-radius);

  &.p-3 {
    // Needs !important because the original bootstrap class uses it
    padding-top: 0.5rem !important;
    padding-bottom: 0.5rem !important;
  }

  .badge-secondary {
    background-color: var(--bs-primary);
  }

  h4, .h4 {
    font-size: 1.1rem
  }
}

.btn-primary.disabled, .btn-primary:disabled {
  color: $primary;
  background-color: $secondary;
  border-color: $secondary;
}

.btn-primary.disabled:hover, .btn-primary:disabled:hover {
  opacity: 0.5;
}

.btn:disabled {
  opacity: 0.5;
}

.btn-primary {
  color: $primary;
  background-color: $secondary;
  border-color: $secondary;
  opacity: 0.9;
}

.btn-primary:hover{
  color: $primary;
  background-color: $secondary;
  border-color: $secondary;
  opacity: 1;
}

.btn-secondary {
  opacity: 0.8;
}

.btn-secondary:hover {
  background-color: $secondary;
  border-color: $secondary;
  opacity: 1;
}

.btn-outline-secondary {
  color: #43515f;
  border-color: #43515f;
}

.dropdown-item {
  color: #fff;
}

.dropdown-item:hover {
  color: $secondary;
  background-color: $primary;
}