<div class="container">
  <div class="card">
    <div class="card-body">
      <div class="d-flex flex-wrap align-items-center">
        <div>
          <h2 class="card-title">Politeknik Kesehatan Medan Repository</h2>
          <p class="card-text">A digital service that collects, maintains, and distributes digital materials to facilitate the preservation of digital documents and scholarly communication.</p>
          <a href="http://www.poltekkes-medan.ac.id/" class="btn btn-poltekkes" target="http://www.poltekkes-medan.ac.id/">Main Website</a>
        </div>
        <img src="/assets/poltekkes/images/poltekkes-logo-nobg.png" alt="Politeknik Kesehatan Medan Logo" class="logo">
      </div>
    </div>
  </div>
</div>
